
body{
	background-color:#e0ffff;
}

#grid {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 40%;
}

#grid td, #grid th {
    border: 1px solid #ddd;
    padding: 8px;
}

#grid tr:nth-child(even){background-color: #f2f2f2;}

#grid tr:hover {background-color: #ddd;}

#grid th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


div.absolute {
    position: absolute;
    left: 35%;
	top:15%;
}


table.center {
    position: absolute;
    left: 30%;
	top:35%;
}

.chngBackgrnd{
	background-color:black;
	color:white;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
}

.btnPos
{
	 position: fixed;
     left: 10%;
	 top:85%;
}